@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1>Crear Rutina</h1>
    <br />
    <div class="container">

        <div class="flex-sm-row-reverse" style="border-style:solid; padding: 2%">


            <form action="/Rutina/CrearRutina" method="post">
                <label>Nombre:</label>
                <input type="text" name="nombre" />
                <br />
                <label>Tipo</label>
                <select name="tipo">
                    <option value="Principiante">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
                <br /><br />
                <button class="btn-primary" type="submit">Crear</button>
            </form>


        </div>

    </div>

</div>