@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Detalle</h1>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Nombre: </th>

            <th>Tiempo</th>

            <th>Video demostrativo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ejercicios)
        {
            <tr>
                <td>@item.ejercicios.id</td>
                <td>@item.ejercicios.nombre</td>
                <td>@item.tiempoRutina</td>
                <td>
                    
                    <iframe width="360" height="315"
                            src="@item.ejercicios.link"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                            gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>

                </td>
            </tr>
        }
    </tbody>
</table>